$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './responsive';

$blue: rgba(3, 22, 194, 0.1);
$dark-blue: rgba(3, 5, 23, 0.8);
$yellow: rgba(209, 207, 17, 0.05);
$light-black: rgba(0,0,0,0.1);

html, .container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/assets/images/jaylivia-2.jpg');
  background-position: center top;
  background-attachment: scroll;
  background-size: cover;
  @include media(small) {
    font-weight: 200;
    background: radial-gradient(
        circle,
        $yellow,
        rgba(0, 0, 0, 0.4),
        $dark-blue
      ), url('/assets/images/jaylivia-2.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
  }

  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

header {
  filter: contrast(150%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem 0 15rem 0;
  @include media(small) {
    justify-content: flex-end;
    padding-bottom: 12%;
  }
  align-items: center;
}

section {
  width: 100%;
  margin: 0;
  padding: 0
}

.video-button {
  margin-top: 3rem;
  background-color: rgba(54,179,168,1);
  color: #fff;
  border-radius: 300px;
  padding: 10px 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  &:hover, &:focus {
    background-color: rgba(54,179,168,0.8);
    color: #fff;
  }
  transition: 0.2s all ease-in;
}

.hashtags {
  font-size: 3rem;
  p {
    color: #fff;
    line-height: 3.5rem;
    display: flex;
    align-items: center;
    letter-spacing: .5rem;
    justify-content: center;
    opacity: 0;
    transition: 1s opacity ease-in;
    text-shadow: 1px 1px 10px black;
    margin-bottom: 0;
    &.show-me {
      opacity: 1;
    }
  }
  @include media(small) {
    font-size: 4rem;
    letter-spacing: .8rem;
    .hash {
      font-size: 3rem;
      margin-right: .5rem;
    }
  }
}

.deets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dcdcdc;
  padding: 5rem 0;
  p:last-of-type, a {
    font-size: 2.5rem;
    // color: rgb(54,179,168);
    a:hover {
      text-decoration: none;
      // color: rgb(66, 214, 201);
    }
  }
}
.coming-soon {
  font-size: 6rem;
  font-family: 'Amatic SC';
  margin: 0;
  span {
    margin: 0 1.5rem;
    font-size: 5rem;
  }
}

section.video {
  height: 90vh;
  @include media(small) {
    height: 100vh;
  }
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  @include media(small) {
    width: 70%;
    height: 70%;
  }
  position: relative;
  overflow: hidden;
  .fa {
    color: #fff;
    align-self: center;
    font-size: 10rem;
    text-align: center;
    width: 100%;
    transition: 0.5s opacity ease;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  iframe {
    min-width: 100%;
    min-height: 100%;
  }
  .video-cover {
    background: url('/assets/images/jaylivia-43.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 50vh;
    }
    @include media(small) {
      min-width: 100%;
      min-height: 100%;
      height: auto;
      width: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
